#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.photograph-header-container-text{
    order: 1;
}
.photograph-header-container-text h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
}
.photograph-header-container-text .localisation{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}
.photograph-header-container-text .tagline {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}
#contact_button , #contact_button_submit{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px ;
    cursor: pointer;
    order: 2;
}
#contact_button:hover{
    background-color: #DB8876;
   
}
.photograph-header-container-img{
    order: 3;
    display: flex;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.photograph-header-container-img img {
    order: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transform-origin: center;
}

.total-likes-container{
    position: fixed;
    bottom: 0px;
    right: 36px;
    width: 376px;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #DB8876;
    display: flex;
    justify-content: space-between;
    padding: 21px 34px 21px 34px
}
.total-likes-container div {
    display: flex;
    align-items: center;
    
}
.total-likes-container div img{
    width: 21px;
    height: 24px;
    color:black

}
.total-likes-container p{
    font-size: 24px;
    font-weight: 500;
}
.filter {
    position: relative;
    display: flex;
    margin-left: 100px;
    margin-top: 71px;
    z-index: 3;
}
.filter-text{
    display: flex;
    align-items: center;
    height: 65px;
    margin-right: 25px;
    font-weight: 700;
    font-size: 18px;
}
#option-container{
    width: 170px;
    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #901C1C;
    border-radius: 5px;
    
}
#toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    margin: 5px 0px;
    width: 50px;
    height: 55px;
    background-color: #901C1C;
    border:none;
    position: relative;
    left: 120px;
}
.active img{
    transform: rotate(180deg);
}
#toggle img {
    width: 32px;
    height: 32px;
}
.option{
    background-color: #901C1C;
    display: none;
    padding: 14px 66px 14px 10px;
    border-top: solid 1px white;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 14px 66px 14px 10px;
}
.popularity{
    order:2;
}
.date{
    order: 2;
}
.name{
    order: 2;
}
.visible{
    display:flex;
}
.active-filter {
    display: flex;
    order: 1;
    border-top: none;
}

.photograph-media{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    gap: 95px;
    margin-top: 23px;
    padding: 0px 50px;
}
.photograph-media img,video{
    width:350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-text-container{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}
.picture-name{
    width: 250px;
}
.media-text-container div {
    display: flex;
    align-items: center;
}
.media-text-container div img {
    width: 21px;
    height: 24px;
}
.like-icon.active svg path { 
    fill:#901C1C;
}
.overlay{
    display: none;
    z-index: 1;
    position:absolute !important;
    top: 0;
    background: rgba(196, 196, 196, 0.40);
    width: 100%;
    height: 220%;
}
.modal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 35px 15px 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    height:150px;
}
.modal header .modal-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.modal header .modal-img-container{
    height: 150px;
    display: flex;
    align-items: flex-start;
}
.modal header img {
    cursor: pointer;
    margin-top: 20px;
    
}
.modal header .modal-text-container p {
    font-size: 50px;
    font-weight: 400;
}
.modal header  h2 {
    font-size: 50px;
    font-weight: 400;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
}
#message-input{
    height:160px;
}
.first-name-info,.last-name-info,.email-info,.message-info{
    height: 24px;
}

#lightbox-container{
    position: fixed;
    top: 0px;
    padding: 25px 0px;
    display:none;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #FAFAFA;
}
#lightbox{
    width: 1050px;
}
#lightbox-img{
    width: 1050px;
    height: 900px;
}
#lightbox-img img{
    width: 100%;
    height: 900px;
    max-height:900px;
    object-fit: cover;
}
#lightbox-img video {
    width: 100%;
    height: 900px;
    max-height: 900px;
    object-fit: cover;
    position: relative;
}
#lightbox-text{
    font-size: 24px;
    color: #901C1C;
}
#close-lightbox{
    position: relative;
    bottom: 440px;
    right: 90px;
    width: 72px;
    height: 72px;
    border: none;
    background-color: transparent;
}
#previous-img,#next-img{
    width:96px;
    height:96px;
    border: none;
    background-color: transparent;
    z-index: 4;
}