#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.photograph-header-container-text{
    order: 1;
}
.photograph-header-container-text h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
}
.photograph-header-container-text .localisation{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}
.photograph-header-container-text .tagline {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}
#contact_button , #contact_button_submit{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px ;
    cursor: pointer;
    order: 2;
}
#contact_button:hover{
    background-color: #DB8876;
   
}
.photograph-header-container-img{
    order: 3;
    display: flex;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.photograph-header-container-img img {
    order: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transform-origin: center;
}

.total-likes-container{
    position: fixed;
    bottom: 0px;
    right: 36px;
    width: 376px;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #DB8876;
    display: flex;
    justify-content: space-between;
    padding: 21px 34px 21px 34px
}
.total-likes-container div {
    display: flex;
    align-items: center;
    
}
.total-likes-container div img{
    width: 21px;
    height: 24px;
    color:black

}
.total-likes-container p{
    font-size: 24px;
    font-weight: 500;
}
.select-menu-container{
    display: flex;
    align-items: center;
    padding: 20px 100px;
}
.select-menu-container p {
    font-size: 18px;
    font-weight: 700;
}
.select-menu {
    width: 170px;
    margin-left: 25px;
}
.select-btn {
    color: white;
    display: flex;
    height: 55px;
    background: #901C1C;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.options {
    width: 170px;
    opacity: 0;
    position: absolute;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    background: #901C1C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-bottom :1px solid white ;
    align-items: center;
    background: #901C1C;
}
.option:hover {
    background: #f2f2f2;
}

.option:hover i {
    font-size: 25px;
    margin-right: 12px;
}

.option-text {
    font-size: 18px;
    color: white;
}


.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn img {
    transform: rotate(-180deg);

}

.select-menu.active .options {
    display: block;
    opacity: 1;
    z-index: 10;
}

.photograph-media{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    gap: 95px;
    margin-top: 50px;
    padding: 0px 50px;
}
.photograph-media img,video{
    width:350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-text-container{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}
.media-text-container div {
    display: flex;
    align-items: center;
}
.media-text-container div img {
    width: 21px;
    height: 24px;
}
.like-icon.active svg path { 
    fill:#901C1C;
}
.overlay{
    display: none;
    z-index: 1;
    position:absolute !important;
    top: 0;
    background: rgba(196, 196, 196, 0.40);
    width: 100%;
    height: 220%;
}
.modal {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 35px 15px 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    height:150px;
}
.modal header .modal-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.modal header .modal-img-container{
    height: 150px;
    display: flex;
    align-items: flex-start;
}
.modal header img {
    cursor: pointer;
    margin-top: 20px;
    
}
.modal header .modal-text-container p {
    font-size: 50px;
    font-weight: 400;
}
.modal header  h2 {
    font-size: 50px;
    font-weight: 400;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
}
#message{
    height:160px;
}
.first-name-info,.last-name-info,.email-info,.message-info{
    height: 24px;
}
